{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>MindSphere</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>

<nav class="navbar">
    <div class="logo">MindSphere</div>
    {% if user.is_authenticated %}
        <div class="nav-right">
            <span>Hello, {{ user.username }}</span>
        </div>
    {% endif %}
</nav>

<div class="container">
    {% block content %}
    {% endblock %}
</div>

</body>
</html>
